rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 관리자 여부 확인 함수
    function isAdmin() {
      return request.auth != null &&
             get(/databases/$(database)/documents/permissions/$(request.auth.token.email)).data.isAdmin == true;
    }

    // 'expenses' 컬렉션에 대한 규칙
    match /expenses/{expenseId} {
      allow read: if request.auth != null;

      // 업데이트와 삭제 규칙 분리
      allow update: if request.auth != null && (request.auth.uid == resource.data.userId || isAdmin());
      // 삭제는 본인이더라도 '정산신청' 상태일 때만 가능, 관리자는 항상 가능
      allow delete: if request.auth != null && (
        (request.auth.uid == resource.data.userId && resource.data.status == '정산신청') ||
        isAdmin()
      );
    }

    // 'permissions' 컬렉션에 대한 규칙
    match /permissions/{email} {
      // 본인의 권한 정보만 읽기 허용
      allow read: if request.auth != null && request.auth.token.email == email;
      // 쓰기는 오직 파이어베이스 콘솔에서만 가능하도록 차단
      allow write: if false;
    }

    // 다른 컬렉션에 대한 기본 규칙
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
